{% extends "admin/baseadm.html" %}
{% block title %}administrar{% endblock %}
{% block content %}
 
    
        <h1>DASHBOARD</h1>
        
        </head>
        <body>
            <div class="bloque-texto"><h1>
           
¡Bienvenidos, estimados administradores!

Nos llena de alegría recibirles en este espacio de colaboración y crecimiento. Su liderazgo, compromiso y dedicación son pilares fundamentales para el éxito de nuestra organización. Aquí, encontrarán un entorno diseñado para fomentar la innovación, la eficiencia y el trabajo en equipo. Estamos seguros de que, con su talento y experiencia, alcanzaremos nuevas metas y superaremos cualquier desafío que se presente. Juntos, crearemos un futuro brillante y prometedor para todos.
</h1></div>
          
        </body>
    {% endblock %}
