<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>{% block title %}plataformaadm{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
            <nav class="navbar-menu">
              <li class="navbarit">
                <a class="nav-link" href="/logout">Salir</a>
              </li>
              </nav>
            
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <center><p>&copy; 2024 apartado docentes. Todos los derechos reservados.</p></center>
    </footer>
</body>
</html>
