<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>{% block title %}plataforma{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
            <nav class="navbar-menu">
              <li class="navbarit">
                <a class="nav-link" href="/logout">Salir</a>
              </li>
                  <center><div class="navbar">
                    <ul>
                      <li>
                        <a class="nav-link" aria-current="page" href="/ret">inicio</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/prog">progreso</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/cur">pagos</a>
                      </li>
                    </ul>

                  </div></center>
                  
                
              </nav>
            
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <center><p>&copy; 2024 EduVerse Co. Todos los derechos reservados.</p></center>
    </footer>
</body>
</html>
