<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>confirmacion</title>
</head>
<body>
    <div class="bloque-texto">
        <form action="/login">
            <center><h1>¡Bienvenidos a EduVerse!!</h1>
              Estamos emocionados de tenerte aquí en nuestra comunidad de aprendizaje en línea. <br><br>
              En EduVerse!, creemos que la educación es la clave para desbloquear nuevas oportunidades y alcanzar tus metas personales y profesionales. <br>
            Ya puedes ingresar ¡Bienvenido!
           <br><br>

            <button class="btn"> INGRESAR </button>
        </center>
        </form>
    </div>
    
</body>
</html>