{% extends "base.html" %}
{% block title %}Editar{% endblock %}
{% block content %}
<body>
    <center><h1>Descripcion del Curso</h1></center>
    <table class="table-container">
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Accion</th>
        </tr>
        {% for usuario in usuarios %}
        <tr>
            <td>{{ usuario[0] }}</td>
            <td>{{ usuario[1] }}</td>
            <td><form action="{{ url_for('borrar_dato', carnet=usuario[0]) }}" method="post"> 
            <button type="submit">Borrar</button></form>
            </td>
            </tr>
        {% endfor %}
    </table>
</body>
{% endblock %}