{% extends "base.html" %}
{% block title %}Editar{% endblock %}
{% block content %}
    <center>
      <body>
        <h1>Portal Web1</h1>
        <div>
        <nav class="navbar-menu">
          <label>qwertyu rtyuio rtyui rtyuio rtyuio rtyuio fghjk <br>
            fghjk rfghjk fghjk fghj rtyui <br>
            fghjk rtyuio fghjk fgvbhnj</label><br><br>
            <button class="btn":hover><a href="/login">Login</a></button><br><br>
            
        </nav>
    </div>
  </body>
    {% endblock %}
    
