{% extends "base.html" %}
{% block title %}Editar{% endblock %}
{% block content %}
<body>
    <h1>  Materias Inscritas </h1>
    <table class="table-container">
        <tr>
            <th>id</th>
            <th>codigo de la materia</th>
            <th>carnet</th>
            <th>Detalle</th>
            
        </tr>
        {% for usuario in daprog %}
        <tr>
            <td>{{ usuario[0] }}</td>
            <td>{{ usuario[1] }}</td>
            <td>{{ usuario[2] }}</td>
            <td>{{ usuario[3] }}</td>
            </td>
            </tr>
        {% endfor %}
    </table>
</body>
{% endblock %}
