<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles1.css') }}">
    <title>LOGIN</title>
    
  </head>
  <body><div>
    
      <center><h2>¡Bienvenidos a EduVerse!</h2>
        <label class="mi-label">
        Estamos emocionados de tenerte aquí en nuestra comunidad de aprendizaje en línea. <br>
        En EduVerse , creemos que la educación es la clave para desbloquear nuevas oportunidades y alcanzar tus metas personales y profesionales. <br>
      </label></center><br><br>
    </div>
    <div class="container" id="container">
              <div class="form-container sign-up-container">

                <form action="/register" method="POST">
                  <h1> Crear una cuenta </h1><br>
                  <div>
                    <label for="carnet" class="form-label">Cedula de Identidad:</label>
                    <input type="integer" class="form-control" name="carnet" required>
                 </div>
                  <div>
                    <label for="nombre" class="form-label">Nombre:</label>
                    <input type="text" class="form-control" name="nombre" required>
                </div>
                <div>
                  <label for="apellido" class="form-label">apellido:</label>
                  <input type="text" class="form-control" name="apellido" required>
              </div>
                <div>
                    <label for="username" class="form-label">Usuario:</label>
                    <input type="text" class="form-control" name="username" required>
                </div>
                <div>
                    <label for="password" class="form-label">Contraseña:</label>
                    <input type="text" class="form-control" name="password" required>
                </div><br>
                <button> Registrarse </button>
                </form>

                  <!-- Fondo del popup -->
    <div class="popup-fondo" id="popupConfirmacion">
      <!-- Contenido del popup -->
      <div class="popup-contenido">
          <h2>Confirmación</h2>
          <p id="mensajeConfirmacion">{{ mensaje }}</p>
          <button class="cerrar-btn" onclick="cerrarPopup()">Cerrar</button>
      </div>
  </div>
              </div>

              <div class="form-container sign-in-container">
                <form action="/login" method="POST">
                  <h1> Conectarse </h1><br>
                  <div >
                    <label for="username" class="form-label">Usuario:</label>
                    <input type="text" class="form-control" name="username" required>
                </div>
                <div >
                  <label for="password" class="form-label">Contraseña:</label>
                  <input type="password" class="form-control" name="password" required>
                </div><br>
                <select class="green-select" id="role" name="role" required> 
                  <option value="usuario">Usuario</option> 
                  <option value="docente">Docente</option> 
                  <option value="admin">Administrador</option> 
                </select><br>
                  <button> Ingresar </button>
                </form>
              </div>
              

        <div class="overlay-container">
          <div class="overlay">
            <div class="overlay-panel overlay-left">
              <h1>Hola, Amigo!!!</h1>
              <p> Tienes una cuenta. Ingresa aqui !!! </p>
              <button class="ghost" id="signIn">conectarse</button>
            </div>
            <div class="overlay-panel overlay-right">
              <h1> Bienvenido de vuelta !!!</h1>
              <p> Aun no tienes una cuenta. Registrate aqui !!! </p>
              <button class="ghost" id="signUp">registrarse</button>
            </div>
          </div>
    </div>
    </div>
    <script>
      const res=document.getElementById('result');
      function showResult(data){
        res.textContent=data.message;
      }
    </script>

  </body>
  <script>
    const signUpButton = document.getElementById("signUp");
    const signInButton = document.getElementById("signIn");
    const container = document.getElementById("container");
    
    signUpButton.addEventListener("click", () => {
      container.classList.add("right-panel-active");
    });
    
    signInButton.addEventListener("click", () => {
      container.classList.remove("right-panel-active");
    });
    </script>

    <script>
      // Mostrar el popup si hay un mensaje de confirmación
      document.addEventListener('DOMContentLoaded', function() {
          var mensaje = "{{ mensaje }}";
          if (mensaje) {
              mostrarPopup();
          }
      });

      function mostrarPopup() {
          document.getElementById('popupConfirmacion').style.display = 'flex';
      }

      function cerrarPopup() {
          document.getElementById('popupConfirmacion').style.display = 'none';
      }

      // Opcional: Puedes agregar un script para cerrar el popup haciendo clic fuera del contenido
      document.querySelector('.popup-fondo').addEventListener('click', function(event) {
          if (event.target === this) {
              this.style.display = 'none';
          }
      });
  </script>
</html>

  

    
